@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'theme-light.css';
@import 'theme-dark.css';

/*
z-indices:
+ 10 navbar

headings:
* h1 - main heading, the only one
* h2 - sub heading
* grid heading inside a pad, does not use any h tag
* h3 - 1rem bold inside a pad
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  font-family: 'Poppins', serif;
  font-weight: 400;
  color: var(--color-font);
}

html {
  --gutter: 20px;
  --navbar-width: 220px;
  --radius: 15px;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  margin-bottom: var(--gutter);
  font-weight: 800 !important;
}

h3 {
  font-size: 1rem;
  font-weight: 600 !important;
}

small, .small {
  font-size: .9rem;
  color: var(--color-accent);
}

input {
  border: 1px solid var(--color-border);
  background: var(--color-main-bg);
  padding: 10px;
  border-radius: 10px;
}

input::placeholder {
  font-style: italic;
}

/* ======================= BUTTONS: ======================= */

button {
  background: var(--color-accent);
  padding: 6px 30px;
  border: 2px solid var(--color-accent);
  border-radius: 8px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

button:hover {
  background: var(--color-accent-hover);
}

button:active {
  background: var(--color-accent-active);
}

button.secondary {
  border: 2px solid var(--color-accent);
  background: transparent;
  color: var(--color-accent);
}

button.secondary:hover {
  background: var(--color-secondary-hover);
}

button.secondary:active {
  background: var(--color-secondary-active);
}

/* ======================= UTILITY: ======================= */

.mono, .mono * {
  font-family: 'Courier New', monospace;
}

.break {
  word-break: break-word;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}