.theme-dark {
    --color-main-bg: #1e1e1e;
    --color-font: #cacacc;
    --color-danger: #ab2460;

    --color-nav-1: #303030;
    --color-nav-2: #303030;
    --color-nav-font: #d8e1f3;

    --color-accent: #03856c;
    --color-accent-hover: #039479;
    --color-accent-active: #037962;
    --color-secondary: transparent;
    --color-secondary-hover: #2a2a2a;
    --color-secondary-active: #222222;

    --color-pad-bg: #262626;
    --color-pad-border: #303030;
}